<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Yandex Flask</title>
</head>
<body>
<h1 class="main-h">Жди нас, Марс!</h1>
<img src="/static/img/mars.png" alt="mars">
<div class="alert alert-dark" role="alert">
    <p class="promo_text">Человечество вырастает из детства.</p>
</div>
<div class="alert alert-success" role="alert">
    <p class="promo_text">Человечеству мала одна планета.</p>
</div>
<div class="alert alert-secondary" role="alert">
    <p class="promo_text">Мы сделаем обитаемыми безжизненные пока планеты.</p>
</div>
<div class="alert alert-warning" role="alert">
    <p class="promo_text">И начнем с Марса!</p>
</div>
<div class="alert alert-danger" role="alert">
    <p class="promo_text">Присоединяйся!</p>
</div>

</body>
</html>